<template>
  <div>
    <!-- Handle a potential succes from one of the file cards -->
    <transition name="slide-y-transition" mode="out-in">
      <v-alert v-if="fileSuccess" class="studium-alert" dense text type="success">
        {{ fileSuccess }}
      </v-alert>
    </transition>

    <!-- Handle a potential error from one of the file cards -->
    <transition name="slide-y-transition" mode="out-in">
      <v-alert v-if="fileError" class="studium-alert" dense text type="error">
        {{ fileError.message }}
      </v-alert>
    </transition>

    <!--  Files -->
    <transition-group v-if="filesDisplay.length > 0" name="v-slide-x-transition" tag="div">
      <course-file-card
        v-for="file in filesDisplay"
        :key="file.name"
        :file="file"
        :course-code="courseCode"
        @error="onFileError"
        @success="onFileSuccess"
      />
    </transition-group>

    <!-- Pagination -->
    <v-row class="pt-4" justify="end">
      <v-pagination
        v-model="pageIndex"
        class="studium-pagination"
        :length="pageLength"
        :total-visible="6"
        color="transparent"
      />
    </v-row>
  </div>
</template>

<script lang="ts">
import { computed, defineComponent, PropType, ref } from '@nuxtjs/composition-api'
import { useVModel } from '@vueuse/core'

import { DocumentInfoFragment } from '~/apollo/_generated'
import { CustomError } from '~/util/composables'

export default defineComponent({
  props: {
    // Page index
    page: {
      type: Number,
      default: 1,
    },
    // Files
    files: {
      type: Array as PropType<DocumentInfoFragment[]>,
      default: () => [],
    },
    courseCode: {
      type: String,
      default: '',
    },
  },
  setup(props, { emit }) {
    // Page index
    const pageIndex = useVModel(props, 'page', emit)
    // Amount of courses per page
    const pageAmount = 10
    // Amount of pages
    const pageLength = computed(() => Math.ceil((props.files.length || 0) / pageAmount))

    // Files to display
    const filesDisplay = computed<DocumentInfoFragment[]>(() =>
      props.files.slice(
        // Start at the beginning of the page
        (pageIndex.value - 1) * pageAmount,

        // Show "searchPageAmount" courses
        (pageIndex.value - 1) * pageAmount + pageAmount
      )
    )

    // File error for one of the files
    const fileError = ref<CustomError | null>()

    // Handle file error
    function onFileError(error: CustomError) {
      fileError.value = error
    }

    // File success for one of the files
    const fileSuccess = ref<String | null>()

    // Handle file success
    function onFileSuccess(success: String) {
      fileSuccess.value = success

      setTimeout(() => {
        fileSuccess.value = null
      }, 5000)
    }

    return {
      pageIndex,
      pageLength,
      filesDisplay,
      fileError,
      onFileError,
      onFileSuccess,
      fileSuccess,
    }
  },
})
</script>
