<!--
  Copyright: (c) 2020-2021, VTK Gent vzw
  GNU Affero General Public License v3.0+ (see COPYING or https://www.gnu.org/licenses/agpl-3.0.txt)
-->

<template>
  <div v-if="coursesDisplay.length > 0">
    <!-- Handle a potential error from one of the course cards -->
    <transition name="slide-y-transition" mode="out-in">
      <v-alert v-if="courseError" class="studium-alert" dense text type="error">
        {{ courseError.message }}
      </v-alert>
    </transition>

    <!--  Courses -->
    <transition-group name="slide-x-transition" tag="div" class="row">
      <v-col v-for="course in coursesDisplay" :key="course.code" class="columns" cols="12" md="6" lg="6">
        <course-card :course="course" @error="onCourseError" />
      </v-col>
    </transition-group>

    <!-- Pagination -->
    <v-row class="mt-0 pt-4 pb-4" justify="end">
      <v-pagination
        v-model="pageIndex"
        class="studium-pagination"
        :length="pageLength"
        :total-visible="6"
        color="transparent"
      />
    </v-row>
  </div>
</template>

<script lang="ts">
import { computed, defineComponent, ref, watch } from '@nuxtjs/composition-api'
import { useVModel } from '@vueuse/core'

import { CustomError } from '~/util/composables'

export default defineComponent({
  props: {
    // Page index
    page: {
      type: Number,
      default: 1,
    },

    // List of courses
    courses: {
      type: Array,
      required: true,
    },
  },
  setup(props, { emit }) {
    // Page index
    const pageIndex = useVModel(props, 'page', emit)
    // Amount of courses per page
    const pageAmount = 20
    // Amount of pages
    const pageLength = computed(() => Math.ceil((props.courses.length || 0) / pageAmount))
    // In case the amount of pages would go below the current page, set to max pages
    // (e.g. when unsubscribing from courses)
    watch(pageLength, (pageLength, _) => {
      pageIndex.value = Math.min(pageIndex.value, pageLength)
    })

    // Courses to display
    const coursesDisplay = computed(() =>
      props.courses.slice(
        // Start at the beginning of the page
        (pageIndex.value - 1) * pageAmount,

        // Show "searchPageAmount" courses
        (pageIndex.value - 1) * pageAmount + pageAmount
      )
    )

    // Course error for one of the courses
    const courseError = ref<CustomError | null>()

    // Handle file error
    function onCourseError(error: CustomError) {
      courseError.value = error

      setTimeout(() => {
        courseError.value = null
      }, 5000)
    }

    return {
      pageIndex,
      pageAmount,
      pageLength,
      coursesDisplay,
      courseError,
      onCourseError,
    }
  },
})
</script>

<style lang="scss" scoped>
.columns {
  @media #{map-get($display-breakpoints, 'xs-only')} {
    padding-top: 6px;
    padding-bottom: 6px;
  }
}
</style>
