<!--
  Copyright: (c) 2020-2021, VTK Gent vzw
  GNU Affero General Public License v3.0+ (see COPYING or https://www.gnu.org/licenses/agpl-3.0.txt)
-->

<template>
  <v-footer class="studium-footer">
    <v-container>
      <v-row justify="space-between" class="py-3">
        <!-- Copyright -->
        <v-col cols="12" sm="12" md="auto">
          <p class="text-center text-sm-start">
            Copyright @ {{ new Date().getFullYear() }}

            <a class="studium-clickable-text" style="text-decoration: none" href="https://www.vtk.ugent.be">
              VTK Ghent vzw.
            </a>

            All rights reserved.
          </p>
        </v-col>

        <!-- Links -->
        <v-col cols="12" sm="12" md="auto">
          <p class="text-center text-sm-start">
            <!-- Privacy Policy -->
            <nuxt-link class="footbar-link studium-clickable-text" to="/agreements/privacy">
              Privacy Policy
            </nuxt-link>

            <!-- Terms of Service -->
            <nuxt-link class="footbar-link studium-clickable-text" to="/agreements/terms">
              Terms of Service
            </nuxt-link>

            <!-- Cookies -->
            <a class="footbar-link studium-clickable-text" href="https://www.ugent.be/en/cookies" target="blank">
              Cookies
            </a>

            <!-- Contact -->
            <nuxt-link v-if="$auth.loggedIn" class="footbar-link studium-clickable-text" to="/contact">
              Contact
            </nuxt-link>

            <!-- Gitlab -->
            <a class="footbar-link studium-clickable-text" href="https://gitlab.com/vtkgent/studium" target="blank">
              Gitlab
            </a>
          </p>
        </v-col>
      </v-row>
    </v-container>
  </v-footer>
</template>

<script lang="ts">
import { defineComponent } from '@vue/composition-api'

export default defineComponent({
  setup() {},
})
</script>

<style lang="scss" scoped>
p {
  margin: 0px;
  color: $secondary;
  font-weight: 400;
  font-size: 14px;
}

.container {
  padding-top: 12px !important;
}

.footbar-link {
  border-right: 1px solid $secondary-background;
  padding: 0 7px;

  &:last-child {
    border-right: none;
  }
}
</style>
