<!--
  Copyright: (c) 2020-2021, VTK Gent vzw
  GNU Affero General Public License v3.0+ (see COPYING or https://www.gnu.org/licenses/agpl-3.0.txt)
-->

<template>
  <v-app-bar class="studium-navbar" app :hide-on-scroll="hideOnScroll" flat height="75px" color="#FBFBFD">
    <v-container class="py-0 fill-height">
      <!-- Logo -->
      <logo />

      <!-- Non-mobile header -->
      <!-- Switching the links, depending on the authentication status of the user  -->
      <template v-if="!isMobile">
        <template v-if="$auth.loggedIn">
          <nuxt-link
            v-for="link in linksAuth"
            :key="link.target"
            class="studium-navbar-link"
            :class="{ 'studium-navbar-link--active': isRouteActive(link.target) }"
            :to="link.target"
          >
            {{ link.name }}
          </nuxt-link>
        </template>

        <template v-else>
          <nuxt-link
            v-for="link in linksGuest"
            :key="link.target"
            class="studium-navbar-link"
            :class="{ 'studium-navbar-link--active': isRouteActive(link.target) }"
            :to="link.target"
          >
            {{ link.name }}
          </nuxt-link>
        </template>

        <v-spacer />

        <!-- Avatar -->
        <template v-if="$auth.loggedIn">
          <avatar />
        </template>

        <!-- Login -->
        <template v-else>
          <v-btn class="studium-button" color="primary" text depressed large :ripple="false" @click="$auth.login()">
            Log in

            <v-icon right medium> mdi-login </v-icon>
          </v-btn>
        </template>
      </template>

      <!-- Mobile Header -->
      <template v-else>
        <v-spacer />

        <!-- Hamburger button  -->
        <!-- When button is pressed SideBar.vue is displayed -->
        <v-btn v-if="isMobile" icon large @click="isSidebarOpen = true">
          <v-icon> mdi-menu </v-icon>
        </v-btn>
      </template>
    </v-container>
  </v-app-bar>
</template>

<script lang="ts">
import { computed, defineComponent, useRoute } from '@nuxtjs/composition-api'
import { useVModel } from '@vueuse/core'

export default defineComponent({
  props: {
    // Hide the navbar on scroll
    hideOnScroll: {
      type: Boolean,
      default: false,
    },

    // If the sidebar should be shown or hidden.
    sidebar: {
      type: Boolean,
    },

    // Links for authenticated users.
    linksAuth: {
      type: Array,
      default() {
        return [
          {
            name: 'My courses',
            target: '/',
          },
          {
            name: 'Search',
            target: '/search',
          },
        ]
      },
    },

    // Links for guests?.
    linksGuest: {
      type: Array,
      default() {
        return [
          {
            name: 'About',
            target: '/about',
          },
        ]
      },
    },
  },
  setup(props, { root, emit }) {
    // If the mobile breakpoint is active
    const isMobile = computed(() => {
      return root.$vuetify.breakpoint.smAndDown
    })

    // If the sidebar should be shown or hidden.
    const isSidebarOpen = useVModel(props, 'sidebar', emit)

    const route = useRoute()

    // Check if route is active
    function isRouteActive(target) {
      return target === route.value.path
    }

    return {
      isMobile,
      isSidebarOpen,
      isRouteActive,
    }
  },
})
</script>
