<!--
  Copyright: (c) 2020-2021, VTK Gent vzw
  GNU Affero General Public License v3.0+ (see COPYING or https://www.gnu.org/licenses/agpl-3.0.txt)
-->

<template>
  <transition name="fade">
    <div v-if="show" class="splash" />
  </transition>
</template>

<script lang="ts">
import { defineComponent, onMounted, ref } from '@nuxtjs/composition-api'

export default defineComponent({
  setup() {
    // If the splash screen should be shown.
    const show = ref(true)

    // Hide the splashscreen when the client is hydrated.
    onMounted(() => {
      if (process.client) {
        setTimeout(() => (show.value = false), 500)
      }
    })

    return {
      show,
    }
  },
})
</script>

<style lang="scss" scoped>
.splash {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $background;
  z-index: 10000;
}
</style>
