<template>
  <div v-if="showBanner && !isDeclined" class="cookie-banner">
    <div class="cookie-banner-inner">
      <div class="cookie-banner-copy">
        <div class="cookie-banner-description">
          We use cookies to analyse our traffic and further improve the functionality of this website. For more
          information,
          <a class="text-decoration-underline" href="https://www.ugent.be/en/cookies" target="blank">click here</a>
        </div>
      </div>
      <div class="cookie-banner-action-accept">
        <button @click="okBannerClicked">Accept All</button>
      </div>
      <div class="cookie-banner-action-decline">
        <button @click="declineBannerClicked">Decline</button>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent, ref } from '@vue/composition-api'

import useCookies from '@/plugins/cookie-consent'

export default defineComponent({
  setup() {
    const isDeclined = ref(false)
    const { okClicked, showBanner } = useCookies()
    const okBannerClicked = () => okClicked()
    const declineBannerClicked = () => {
      isDeclined.value = true
    }
    return {
      okBannerClicked,
      declineBannerClicked,
      showBanner,
      isDeclined,
    }
  },
})
</script>

<style scoped>
.cookie-banner {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 2147483645;
  box-sizing: border-box;
  width: 100%;
  background-color: #f0f0f0;
  padding-left: 30px;
  padding-right: 30px;
}
.cookie-banner-inner {
  max-width: 960px;
  margin: 0 auto;
  padding: 32px 0;
}
.cookie-banner-copy {
  margin-bottom: 16px;
}
.cookie-banner-description {
  color: #111b47;
  font-size: 16px;
  line-height: 24px;
}
.cookie-banner-action-accept {
  box-sizing: border-box;
  display: inline-block;
  min-width: 164px;
  padding: 11px 13px;
  border-radius: 2px;
  background-color: #111b47;
  color: #fff;
  text-decoration: none;
  text-align: center;
  font-size: 16px;
  line-height: 20px;
}
.cookie-banner-action-decline {
  box-sizing: border-box;
  display: inline-block;
  min-width: 164px;
  padding: 11px 13px;
  border-radius: 2px;
  background-color: transparent;
  border: 2px solid #111b47;
  color: #111b47;
  text-decoration: none;
  text-align: center;
  font-size: 16px;
  line-height: 20px;
  margin-left: 17px;
}
</style>
