// Set global Nuxt router transitions
.page {
  &-enter-active,
  &-leave-active {
    transition: opacity 0.2s;
  }

  &-enter,
  &-leave-to {
    opacity: 0;
  }
}

// Fade transition
.fade {
  &-enter-active,
  &-leave-active {
    transition: opacity 0.2s;
  }

  &-enter,
  &-leave-to {
    opacity: 0;
  }
}
