<template>
  <v-btn
    :text="!!text"
    :icon="!text"
    :ripple="false"
    color="#1c1c1c"
    :class="[{ 'is-active': editor.isActive(active, activeOptions) }, 'editor-header-item']"
    @click="onClick"
  >
    <v-icon>{{ icon }}</v-icon>

    <template v-if="text">
      {{ text }}
    </template>

    <v-icon v-if="iconAppend">{{ iconAppend }}</v-icon>
  </v-btn>
</template>

<script lang="ts">
import { defineComponent } from '@nuxtjs/composition-api'

export default defineComponent({
  props: {
    // Editor instance
    editor: {
      type: Object,
      required: true,
    },

    // Name of the active attribute
    active: {
      type: String,
      default: 'none',
    },

    // Options for the active attribute
    activeOptions: {
      type: Object,
      default: () => ({}),
    },

    // Icon to use for the button
    icon: {
      type: String,
      default: 'mdi-help-circle-outline',
    },

    // Append icon to use for the button
    iconAppend: {
      type: String,
      default: null,
    },

    // Text to display on the button
    text: {
      type: String,
      default: null,
    },
  },
  setup(_, { emit }) {
    // Click event handler
    function onClick(e) {
      emit('click', e)
    }

    return {
      onClick,
    }
  },
})
</script>
