<!--
  Copyright: (c) 2020-2021, VTK Gent vzw
  GNU Affero General Public License v3.0+ (see COPYING or https://www.gnu.org/licenses/agpl-3.0.txt)
-->

<template>
  <v-app id="app">
    <!-- Splash Screen -->
    <splash />

    <!-- Agreement dialog -->
    <client-only>
      <agreement-dialog v-if="enableAgreementsDialog" />
    </client-only>

    <client-only>
      <cookie-consent />
    </client-only>

    <!-- Navbar -->
    <nav-bar :sidebar.sync="sidebar" />

    <!-- Sidebar -->
    <side-bar :sidebar.sync="sidebar" />

    <!-- Content -->
    <v-main>
      <!-- Landing Page -->
      <template v-if="$route.name === 'landing'">
        <nuxt />
      </template>

      <!-- Containered Page -->
      <template v-else>
        <v-container>
          <nuxt />
        </v-container>
      </template>
    </v-main>

    <!-- Footer -->
    <foot-bar />
  </v-app>
</template>

<script lang="ts">
import { useContext, useRoute } from '@nuxtjs/composition-api'
import { computed, defineComponent, ref } from '@vue/composition-api'

import AgreementDialog from '@/components/agreement/AgreementDialog.vue'
import CookieConsent from '@/components/agreement/CookieConsent.vue'
import FootBar from '@/components/layout/FootBar.vue'
import NavBar from '@/components/layout/NavBar.vue'
import SideBar from '@/components/layout/SideBar.vue'
import Splash from '@/components/layout/Splash.vue'

export default defineComponent({
  components: {
    NavBar,
    FootBar,
    SideBar,
    Splash,
    AgreementDialog,
    CookieConsent,
  },
  setup() {
    const context = useContext()
    const route = useRoute()

    // If the sidebar is open or not.
    const sidebar = ref(false)

    // If the agreements dialog should be enabled
    // Only show the dialog when the user logged in
    // or when the user is not on the privacy agreement itself
    const enableAgreementsDialog = computed(
      () => context.$auth.loggedIn && !route.value.path.startsWith('/agreements')
    )

    return {
      sidebar,
      enableAgreementsDialog,
    }
  },
})
</script>

<style lang="scss">
// Import global styling
@import '~/assets/scss/global';
</style>
