<!--
  Copyright: (c) 2020-2021, VTK Gent vzw
  GNU Affero General Public License v3.0+ (see COPYING or https://www.gnu.org/licenses/agpl-3.0.txt)
-->

<template>
  <page-error :error="customError" :description="description" :status-code="error.statusCode" />
</template>

<script lang="ts">
import { NuxtError } from '@nuxt/types'
import { computed, defineComponent, PropType } from '@nuxtjs/composition-api'

import { CustomError } from '~/util/composables'

export default defineComponent({
  layout: 'error',
  props: {
    // Error
    error: {
      type: Object as PropType<NuxtError>,
      required: true,
    },
  },
  setup(props) {
    // Convert the received error to a CustomError.
    const customError = {
      message: props.error.message,
      isNetworkError: false,
      isGraphQLError: false,
      originalError: props.error,
    } as CustomError

    // Error descriptions for the specific status codes
    const descriptions = {
      503: 'Unable to connect to the server. Make sure you are connected to the internet.',
    }

    // Get the error description based on the status code.
    const description = computed(() => descriptions[props.error.statusCode || ''] || '')

    return {
      customError,
      description,
    }
  },
})
</script>
