<!--
  Copyright: (c) 2020-2021, VTK Gent vzw
  GNU Affero General Public License v3.0+ (see COPYING or https://www.gnu.org/licenses/agpl-3.0.txt)
-->

<template>
  <div>
    <!-- Main column for the one-column layout -->
    <v-col>
      <!-- Short introduction -->
      <v-row>
        <v-col>
          <v-row>
            <h1>Sharing is caring!</h1>
          </v-row>
          <v-row>
            <p>
              Studium is a platform where students of the University of Ghent are able to share their own course notes,
              summaries and more with other students. The goal is to make it simple, clean and above all free!
              Originally created by Karel D'Oosterlinck, Silas Deblanc and Maxim De Clercq, this platform is created
              together with VTK and the Ghent Student Council.
            </p>
          </v-row>
        </v-col>
      </v-row>

      <!-- Banner  -->
      <v-row>
        <v-col class="col-6">
          <v-img :src="require('~/assets/img/about/gsr_logo.png')" height="200" contain />
        </v-col>
        <v-col class="col-6">
          <v-img :src="require('~/assets/img/about/vtk_logo.png')" height="200" contain />
        </v-col>
      </v-row>

      <!-- Giving credit -->
      <v-row>
        <v-col>
          <v-row>
            <h1>By who?</h1>
          </v-row>
          <v-row>
            <h2>VTK</h2>
          </v-row>
          <v-row>
            <p>
              VTK Ghent, the Flemish Technical Society, is the student society for engineering students at the Faculty
              of Engineering and Architecture at the University of Ghent. VTK can be contacted via info@vtk.ugent.be.
            </p>
          </v-row>
          <v-row>
            <h2>Ghent Student Council</h2>
          </v-row>
          <v-row>
            <p>
              The Ghent Student Council is the central student council of Ghent University. The Ghent Student Council
              represents and defends the interests of the students. The topics range from all affairs concerning
              education (Education and Examination code, special status for students ...) as well as social affairs
              (housing, student restaurants ...) and many other topics. The list of topics is quite diverse and is not
              limited to the aforementioned. However, the Ghent Student Council is not solely active on the university
              level. As well as supporting the Faculty Student Councils of which there are eleven, the Ghent Student
              Council is also active on both the municipal and Flemish level. Finally, the Ghent Student Council
              supports several smaller and a few big projects such as the Fietsambassade, the Student Kick-Off and
              Studium. Are you interested or do you have questions? Feel free to contact us through email via
              info@gentsestudentenraad.be.
            </p>
          </v-row>
        </v-col>
      </v-row>

      <!-- FAQ -->
      <v-row>
        <v-col>
          <v-row>
            <h1>FAQ</h1>
          </v-row>
          <v-row>
            <h2>Is Studium available to the entire University of Ghent?</h2>
          </v-row>
          <v-row>
            <p>
              Currently, Studium is in its testing phase. In this phase only the students of the Faculty of Engineering
              and Architecture of the University of Ghent have access to this platform. Starting from the 2022-2023
              academic year, Studium will be available to the entire university.
            </p>
          </v-row>
          <v-row>
            <h2>Is Studium available to people outside of the University of Ghent?</h2>
          </v-row>
          <v-row>
            <p>No, currently there are no plans to extend this platform to people outside of the university.</p>
          </v-row>
        </v-col>
      </v-row>

      <!-- Contact -->
      <v-row>
        <v-col>
          <v-row>
            <h1>Contact</h1>
          </v-row>
          <v-row>
            <p>
              To contact Studium for information or other enquiries, please send an email to
              info@gentsestudentenraad.be.
            </p>
          </v-row>
        </v-col>
      </v-row>
    </v-col>
  </div>
</template>

<script lang="ts">
import { defineComponent, useMeta } from '@nuxtjs/composition-api'

export default defineComponent({
  auth: 'guest',
  setup() {
    // SEO
    useMeta(() => ({
      title: 'About',
    }))
  },

  // Empty head for useMeta
  head: {},
})
</script>
