<!--
  Copyright: (c) 2020-2021, VTK Gent vzw
  GNU Affero General Public License v3.0+ (see COPYING or https://www.gnu.org/licenses/agpl-3.0.txt)
-->

<template>
  <suspense-query :query="userCoursesQuery" :delay-loading="500" transition="page">
    <!-- Loading -->
    <template #loading>
      <page-loading />
    </template>

    <!-- Error -->
    <template #error>
      <page-error :error="userCoursesError" />
    </template>

    <!-- Data -->
    <template #data>
      <!-- Placeholder -->
      <div v-if="!userCourses || userCourses.length === 0">
        <placeholder class="pt-4" brackets>
          <template #first> You don't have any courses saved yet</template>
          <template #second> <nuxt-link to="/search">Add your courses here </nuxt-link></template>
        </placeholder>
      </div>

      <!-- Data -->
      <div v-else>
        <!-- Title -->
        <div class="studium-title pb-4">My courses</div>

        <!-- Courses -->
        <v-row no-gutters>
          <v-col cols="12">
            <course-card-list :courses="userCourses" :page.sync="userCoursesPage" />
          </v-col>
        </v-row>
      </div>
    </template>
  </suspense-query>
</template>

<script lang="ts">
import { defineComponent, ref, useMeta } from '@nuxtjs/composition-api'
import { useResult } from '@vue/apollo-composable'

import { useMeSubscriptionsQuery } from '~/apollo/operations'
import { useErrorHandler } from '~/util/composables'

export default defineComponent({
  setup() {
    // Courses of the current logged in user
    const userCoursesQuery = useMeSubscriptionsQuery()
    const userCoursesError = useErrorHandler(userCoursesQuery, { networkErrorRedirect: true })
    const userCourses = useResult(userCoursesQuery.result, [], (result) =>
      result?.me?.subscriptions?.edges.flatMap((edge) => edge?.node)
    )

    // Pagination value
    const userCoursesPage = ref(1)

    // SEO
    useMeta({
      title: 'My Courses',
    })

    return {
      userCoursesQuery,
      userCoursesError,
      userCourses,
      userCoursesPage,
    }
  },

  // Empty head for useMeta
  head: {},
})
</script>
