<template>
  <v-dialog
    v-model="isOpen"
    max-width="800px"
    :fullscreen="$vuetify.breakpoint.xsOnly"
    :transition="$vuetify.breakpoint.xsOnly ? 'dialog-bottom-transition' : 'dialog-transition'"
  >
    <v-card :tile="$vuetify.breakpoint.smAndDown">
      <v-card-title>
        Upload a file

        <v-spacer />

        <!-- Close -->
        <v-btn icon @click="isOpen = false">
          <v-icon>mdi-close</v-icon>
        </v-btn>
      </v-card-title>

      <!-- Content -->
      <v-card-content>
        <!-- Error Handling -->
        <suspense-mutation :mutation="uploadMutation" transition="slide-y-transition" transition-mode="out-in">
          <template #error>
            <v-alert class="studium-alert" dense text type="error">
              {{ uploadMutationError.message }}
            </v-alert>
          </template>
        </suspense-mutation>

        <!-- Form -->
        <v-form ref="form" :disabled="uploadMutation.loading.value" lazy-validation>
          <v-row>
            <!-- Select file -->
            <v-col cols="12">
              <v-file-upload v-model="fields.file" />
            </v-col>
          </v-row>

          <v-row>
            <!-- Name -->
            <v-col cols="12">
              <v-text-field
                v-model="fields.name"
                :rules="rules.name"
                class="studium-input"
                hide-details="auto"
                label="Name"
                color="primary"
                hint="Choose a descriptive name that is representable of the content of the file"
                outlined
              />
            </v-col>
          </v-row>

          <v-row>
            <!-- Category -->
            <v-col cols="12">
              <v-select
                v-model="fields.category"
                :rules="rules.category"
                :items="tags"
                class="studium-input"
                hide-details="auto"
                value="name"
                item-text="name"
                label="Select a category"
                color="primary"
                outlined
                required
                :menu-props="{ 'offset-y': true, 'offset-overflow': true }"
              />
            </v-col>
          </v-row>

          <v-row>
            <!-- Anonymous -->
            <v-col cols="12">
              <v-checkbox
                v-model="fields.anonymous"
                class="mt-0"
                label="Anonymous"
                hide-details="auto"
                hint="Post the data as an anonymous user."
                persistent-hint
                color="primary"
                dense
              />
              <span class="v-messages orange--text">
                <v-icon x-small color="orange"> mdi-alert-circle-outline </v-icon>

                Admins will still see who uploaded a file and may void your access on abuse.
              </span>
            </v-col>
          </v-row>
        </v-form>
      </v-card-content>

      <!-- Actions -->
      <v-card-actions>
        <v-spacer />

        <!-- Upload -->
        <v-tooltip bottom :disabled="!!fields.file">
          <template #activator="{ on, attrs }">
            <div v-bind="attrs" v-on="on">
              <v-btn
                class="studium-button"
                color="primary"
                text
                large
                :ripple="false"
                :loading="uploadMutation.loading.value"
                :disabled="!fields.file"
                @click="submit"
              >
                Upload
              </v-btn>
            </div>
          </template>

          <!-- Tell the user they need to select a file to continue -->
          <span> Select a file to continue </span>
        </v-tooltip>

        <!-- Cancel -->
        <v-btn class="studium-button" color="secondary" text large :ripple="false" @click="isOpen = false">
          Cancel
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script lang="ts">
import { defineComponent, reactive, ref } from '@nuxtjs/composition-api'
import { useVModel } from '@vueuse/core'

import { CourseDocumentsDocument, useUploadDocumentMutation } from '~/apollo/_generated'
import { useErrorHandler } from '~/util/composables'

export default defineComponent({
  props: {
    // Synchronised property if the dialog is open
    open: {
      type: Boolean,
      default: false,
    },

    // Course Code
    courseCode: {
      type: String,
      required: true,
    },

    // Tags
    tags: {
      type: Array,
      required: true,
    },
  },
  setup(props, { emit }) {
    const isOpen = useVModel(props, 'open', emit)

    // Form element binding
    const form = ref()

    // Form fields
    const fields = reactive({
      file: null,
      name: '',
      category: '',
      anonymous: false,
    })

    // Form rules
    const rules = {
      name: [
        // Required
        (v) => !!v || 'Name is required',
        // Length
        (v) => (v && v.length <= 50) || 'Name cannot be larger than 50 characters',
        (v) => (v && v.length >= 6) || 'Name must be at least 6 characters',
      ],
      category: [
        // Required
        (v) => !!v || 'Category is required',
      ],
    }

    // Upload mutation
    const uploadMutation = useUploadDocumentMutation({
      update: (cache, { data: uploadData }) => {
        // Fetch the list with documents for the course from the cache
        const data: any = cache.readQuery({
          query: CourseDocumentsDocument,
          variables: { code: props.courseCode },
        })

        /// Add the uploaded document to the list
        data.courseByCode.documents.edges.push({
          node: uploadData?.uploadDocument?.document,
          __typename: 'DocumentTypeEdge',
        })

        // Update the cache
        cache.writeQuery({ query: CourseDocumentsDocument, data })
      },
    })
    const uploadMutationError = useErrorHandler(uploadMutation)

    // Emit success to parent
    // Close dialog
    uploadMutation.onDone(() => {
      emit('success')

      // Close dialog
      isOpen.value = false

      // Clear the dialog
      fields.file = null
      form.value.reset()
    })

    // Submit action
    function submit() {
      // Make sure the form is valid
      if (form.value.validate()) {
        uploadMutation.mutate({
          courseCode: props.courseCode,
          file: fields.file,
          name: fields.name,
          tags: [fields.category],
          anonymous: fields.anonymous,
        })
      }
    }

    return {
      isOpen,
      form,
      fields,
      rules,
      uploadMutation,
      uploadMutationError,
      submit,
    }
  },
})
</script>
